<div class="container">
  <div class="row">
    <div class="column" style="max-width: 30rem;">
      <header>myTechBlog!</header>
      <br>
      <p>A place where novice and experienced developers can share their trials and knowledge!</p>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-2">
      <button type="button" class="btn btn-primary" style="color: #1b89bc;">Log-In</button>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-primary" style="color: #1b89bc;">Sign-Up</button>
    </div>
  </div>
</div>