<div class="input-group flex-nowrap">
  <span class="input-group-text" id="email-login">Email</span>
  <input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="addon-wrapping">
</div>
<div class="input-group flex-nowrap">
  <span class="input-group-text" id="password-login">Password</span>
  <input type="text" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="addon-wrapping">
</div>