<div class="container">
    <div class="row">
        <div class="column" style="max-width: 25rem;">
            <div class="input-group">
                <span class="input-group-text">Email</span>
                <input type="text" id="email-login" class="form-control" placeholder="Enter Your Email" aria-label="Enter Your Email" aria-describedby="addon-wrapping">
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-text">Password</span>
                <input type="password" id="password-login" class="form-control" placeholder="Enter Your Password" aria-label="Enter Your Password" aria-describedby="addon-wrapping">
            </div>
            <br>
            <a class="login-form" type="submit" style="color: #1b89bc;">Log-In</a>
        </div>
    </div>
</div>