<div class="container">
    <div class="row">
        <div class="column" style="max-width: 25rem;">
            <div class="input-group">
                <span class="input-group-text" id="name-signup">Username</span>
                <input type="text" class="form-control" placeholder="Enter a Username" aria-label="Enter a Username" aria-describedby="addon-wrapping">
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-text" id="email-signup">Email</span>
                <input type="text" class="form-control" placeholder="Enter an Email Address" aria-label="Enter an Email Address" aria-describedby="addon-wrapping">
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-text" id="password-signup">Password</span>
                <input type="text" class="form-control" placeholder="Enter a Password" aria-label="Enter a Password" aria-describedby="addon-wrapping">
            </div>
            <br>
            <button type="button" class="btn btn-primary signup-form" style="color: #1b89bc;">Sign-Up</button>
        </div>
    </div>
</div>