<div class="input-group flex-nowrap">
  <span class="input-group-text" id="name-signup">Username</span>
  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
</div>
<div class="input-group flex-nowrap">
  <span class="input-group-text" id="email-signup">Email</span>
  <input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="addon-wrapping">
</div>
<div class="input-group flex-nowrap">
  <span class="input-group-text" id="password-signup">Password</span>
  <input type="text" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="addon-wrapping">
</div>
<button type="button" id="signup-form" class="btn btn-primary">Submit</button>