<div class="container">
    <div class="row">
        <div class="column" style="max-width: 35rem;">
            <h3>{{name}}</h3>
            <p>{{description}}</p>
            {{!-- <p>Timestamp: {{format_date date_created}}</p> --}}
        </div>
    </div>
</div>
